[2020-02-26 21:18] pemj opened #6 "Sample buildability"
I've been taking a look at this library to see if it'll work for a project I'm working on at the moment, and  I've been having some trouble getting the samples to build successfully. I'll copy over some of the changes I've been making once I can get it to build, would you mind if I made a PR to integrate some of this into the repo? I was thinking it might be helpful to move the sample code into ac

[2020-02-27 18:18] jchauncey opened #7 "getting 403 forbidden when querying using sp"
Are you not able to query using a service principal? Or do you need to create it with specific permissions?

[2020-02-27 20:16] pemj opened #8 "Missing error check"
there's a spot in conn.go where we initialize a request, and this is where the ADAL libraries actually do the work to get us our token. If we've got invalid credentials, the request returned will be nil, and when we pass that in to autorest, we can trigger a segfault.
https://github.com/Azure/azure-kusto-go/blob/6fb84864f9627ce5033bc7bfe64c1f6ceaf8b61c/kusto/conn.go#L231

[2020-03-13 14:12] patrickbsf opened #9 "0.1 pre-release isn't buildable - missing internal/log directory"
What's checked in isn't buildable.
query_builder.go includes it as:
	ilog "github.com/Azure/azure-kusto-go/kusto/internal/log"
and calls it in an (unused) function called UnsafeStmt.

[2020-03-13 15:51] #9 closed, assigned to element-of-surprise

[2020-03-13 16:30] patrickbsf opened #10 "Errors returned from Kusto are logged to console, and provide no interrogation ability."
conn.go on line 252 logs to the console the results of the http response:
[code]

Logging is fine from a library, but never directly to the console like this.  The Kusto api should define its own logging interface, output using that, and then developers can a pick canned kusto implementation of that (just using the stdlib 'log' for eg) or provide their own that logs to a file, ignores it, whatever

[2020-03-13 16:38] #8 closed, assigned to element-of-surprise

[2020-03-13 21:08] patrickbsf opened #11 "Executing '.show databases' via Mgmt call returns nothing but outputs error."
It outputs
[code]
on the screen but doesn't actually return an error.  There are apparently still cases where Kusto returns aren't being translated properly.

This is with the 0.1 pre-release.

[2020-03-16 16:52] #11 closed, assigned to element-of-surprise

[2020-03-16 17:36] element-of-surprise opened #12 "Provide access to structured REST errors that are returned"
Originally a part of issue: https://github.com/Azure/azure-kusto-go/issues/10

Errors returned as part of Kusto can come in a variety of shapes.  Some are errors generated by authorization systems, some are generated by Kusto, etc....

These errors may come in two forms

- Standard string
- JSON encoded

The JSON encoded may also come in different forms.  Some are OneAPI errors, but off an earlier

[2020-03-16 18:13] element-of-surprise opened #13 "Investigate support for a logger interface that external parties can implement"
Original issue: https://github.com/Azure/azure-kusto-go/issues/10

When the Kusto client logs messages, it uses the log.Print/Fatal(..) logger.

Investigate the option of providing a custom log.Logger that the package would use instead of the built in logger.

[2020-03-16 18:15] #10 closed, assigned to element-of-surprise

[2020-04-10 15:48] #6 closed, assigned to element-of-surprise

[2020-04-10 15:49] #7 closed, assigned to element-of-surprise

[2020-04-15 20:15] #13 closed, assigned to element-of-surprise

[2020-04-23 21:11] pemj opened #23 "column decoding error - query return variance"
Ran into a strange issue earlier today. I'm not sure if the problem can be traced back to this library, or to kusto's API, so I figured I'd try getting in touch with both teams.

Two (slightly) different queries, upon examination through the kusto explorer, appear to return identical results. Specifically, they both return a single column named percentHealthy, and a single row storing a kusto Real

[2020-04-24 03:40] element-of-surprise commented on #23
Can you dump the columns in the successful case and an unsuccessful case and a sample output?

[2020-04-24 03:43] element-of-surprise commented on #23
Also feel free to reach out to me on Teams.

[2020-04-27 19:15] element-of-surprise commented on #23
Ping

[2020-04-29 21:12] element-of-surprise commented on #23
Ping

[2020-05-04 14:02] element-of-surprise commented on #23
Haven't gotten a response on this after 10 days, closing the bug.   If the bug is still an issue, please re-open and send the debug information requested above.

[2020-05-04 14:02] #23 closed

[2020-05-10 09:22] tharinduwijewardane opened #26 "Error occurred when retrieving time series data"
Following error occurs when I execute a query with `make-series` clause.

[code]

Example query:
[code]

As I understood its because the generated column `sum_value` is of `dynamic` type. But it should be supported by the SDK and I believe this is a bug.
Further, I am able to execute the same query using both REST API and Azure query UI without any issue.

[2020-05-10 09:29] tharinduwijewardane commented on #26
If it may help, here is the code I ran,

[code]

[2020-05-11 16:42] element-of-surprise commented on #26
This indeed looks like a bug.  It is a conversion error from the REST JSON into the local type.
This must be something I broke in the last change where we updated how we do all the conversions.  I must have missed a test somewhere in that change, though its strange the etoe test passed.

I'll patch this in a release and look back at the etoe, see why that didn't fail on us.

There is one breaking

[2020-05-11 17:51] tharinduwijewardane commented on #26
Thanks for the attention. When will you be able to fix this? My work depends on this, so my other option is to use the REST API and decode the response myself (which i will not enjoy doing)

[2020-05-12 16:55] element-of-surprise commented on #26
I try for a 1 week SLA for bugs (this is not an official SLA, just mine for the Go SDK).  I will try to do this tomorrow, but we have companies holidays Thurs/Fri for my group, it could get delayed.

I don't imagine it going past the SLA.  Just want to set an expectation so that you can decide what you need to do.

[2020-05-13 16:30] element-of-surprise commented on #26
It seems that this is my misinterpretation of the dynamic type. There are several pages on types and apparently I missed these items on the dynamic type:

- "An array of dynamic values, holding zero or more values with zero-based indexing."
- "A property bag that maps unique string values to dynamic values. The property bag has zero or more such mappings (called "slots"), indexed by the unique str

[2020-05-13 17:16] tharinduwijewardane commented on #26
Thanks for the effort. Please do take your time and fix it properly. I am getting my work done through the REST API for now. I will visit Go SDK again when things are stable.

Let me interest you in something I came across when trying to parse the responses from the REST API. https://github.com/Jeffail/gabs is a really cool tool for parsing json data.

[2020-05-13 17:39] element-of-surprise commented on #26
Its a cool tool.  The problem for us is it likely to be slow looking at its internals.

Go's JSON decoder (which gabs uses) is fairly general and works well when data follows certain rules.  Performance wise and in other ways, it falls apart when dealing with JSON that doesn't conform to its model.  And the Go author's consider the JSON library as locked for features.  This is a well known problem

[2020-05-18 16:22] element-of-surprise commented on #26
I've updated dynamic at tip to handle what I think are all cases.  This converts Dynamic.Value into []byte.

We will be adding an integration test for this before we push this into a release.

But you should be able to give this a try using the commit hash.

[2020-05-19 08:08] rnitzan opened #29 "Required delay between management and ingest commands"
Hi

We are writing a client that ingest data into ADX using this golang library, we created in Azure portal an ADX cluster & database and in the client we run the following queries, first to create table and ingestion setting and then ingest data and query the ingest row size.

1. kusto.Client.Mgmt(..., ".create table [Table Name] (col1: type1, ....)")

2. kusto.Client.Mgmt(..., ".add table [Table

[2020-05-19 09:21] vladikbr commented on #29
@rnitzan, can you confirm the problem?
Are you getting an error? Is it "data does not show up" vs. "data shows up after 5 minutes"?

There is an internal batching mechanism that will be default delay the incoming data by 5 minutes.
You can read about how to control it here: https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/batchingpolicy and here: https://docs.microsoft.com/en-

[2020-05-19 09:25] rnitzan commented on #29
@vladikbr
 - I'm not getting any error.
 - data never show up.

only if i
1. create table & ingest setting
2. wait 5 minutes
3. ingest data
4. data shows up and can query it

[2020-05-19 09:34] rnitzan commented on #29
@vladikbr
I didn't defined batch policy, here the table details

"TableName": ...,
"DatabaseName": ...,
"Folder": ,
"DocString": ,
"TotalExtents": 0,
"TotalExtentSize": 0,
"TotalOriginalSize": 0,
"TotalRowCount": 0,
"HotExtents": 0,
"HotExtentSize": 0,
"HotOriginalSize": 0,
"HotRowCount": 0,
"AuthorizedPrincipals": [
  ...
],
"RetentionPolicy": {
  "SoftDeletePeriod": "7.00:00:00",
  "Recoverabili

[2020-05-19 09:55] rnitzan commented on #29
@vladikbr

Another thing noticed, I simulate case of creating 5 tables and their ingestion setting (without errors) and then right away doing ingest (without the 5 minute delay)
Now I get error on table not exist on the ingest

Seem it take some time for table metadata to be available in server side.

Insert error: Op(OpIngestStream): Kind(KHTTPError): streaming ingest issue(400 Bad Request):
{

[2020-05-19 10:03] vladikbr commented on #29
We are investigating the issue where you did not get an error.
There is a documented up to 5 minutes delay between authoring tables and streaming ingestion policies and these settings taking effect:
https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-streaming#limitations

[2020-05-19 13:26] rnitzan commented on #29
@vladikbr
Got a solution.
The ingest without 5 minute delay didn't fail cause of previous deleted table ingestion setting.
Need to run ".clear database cache streamingingestion schema" after table drop ,to remove deleted table ingestion setting from ADX cache, so new table (with same name) will not use those setting.

[2020-05-19 13:26] #29 closed

[2020-05-21 14:53] element-of-surprise commented on #26
Wanted to check in and see if you've had an opportunity to try tip yet?

[2020-06-21 14:00] talsheldon opened #33 "Can't use predefined string as Stmt in Client.Mgmt"
I have some management statements that I want to execute through the client.
These statements are built with `fmt.Sprintf`.

     command := fmt.Sprintf(...)
	if _, err := client.Mgmt(ctx, db, command); err != nil {
		return err
	}

So I saw the query is supposed to be of type `Stmt`, but I didn't find how to convert this string to `Stmt`.

When using `NewStmt`, I can only use a raw string as inpu

[2020-06-23 16:28] element-of-surprise commented on #33
So Kusto by default uses the Stmt type to enforce that string constants are used.  This prevents and entire range of SQL-like injection attacks.  Most SQL like APIs are unsafe by default requiring you to turn on safety.  Because of a language trick in Go, we have the option to make

There are two ways to input variable substitution.  One is through the use of query parameters and the other is the

[2020-06-24 01:23] #33 closed

[2020-07-02 01:08] element-of-surprise commented on #26
We've released the new version at 0.2.0 that should have taken care of this problem.  As we've received no response on this bug, I am closing this assuming that the problem is resolved.

[2020-07-02 01:08] #26 closed

[2020-09-11 16:09] element-of-surprise opened #35 "Timespan value string marshal is providing nanosecond accuracy, but should only provide "tick" accuracy"
The Timespan type is a Go wrapper around time.Duration, which must convert to the string format of .Net's Timespan's type.  Like any other .Net thing, its overly complicated and supports multiple string layouts.  Also, like other .Net types, it defines it's own base type called a "tick" that no one else uses.  A tick is 10 millionth of a second.  Because of these special types and layouts, time.Ti

[2020-09-16 21:44] #35 closed

[2020-09-26 17:00] element-of-surprise opened #37 "Ingestion Mapping calls during ingest make cluster unresponsive"
Ingestion in the Go SDK use ".show ingestion mappings" to validate that calls that rely on Ingestion references stored on the servers actually exist.

When doing thousands of individual ingestions, this was causing thousands of these calls, which aren't designed to scale for this purpose.

The API is supposed to cache the response for 5 minutes.  However, due to a bug, we were not updating the las

[2020-09-27 22:41] #37 closed

[2020-10-07 18:34] pemj opened #39 "KHTTPError 520, System.IndexOutOfRangeException with private preview plugin"
So I've got something of a tricky problem. I'm getting an error that can only be reproduced with a combination of azure-kusto-go and a kusto plugin command that's in private preview.  If I run the query through kusto explorer, it works fine. And if I run most non-plugin queries through my azure-kusto-go client, it works fine. Even some queries with the plugin via the azure-kusto-go client work, ju

[2020-10-07 18:55] pemj commented on #39
I've managed to produce, a single error from the kusto web explorer, but I can't repro it.  ( :
I shifted the timespan on that query down from ago(35m) to ago(1m), and it threw an error evaluating the plugin, `Message:An error occurred while sending the request.`, but every subsequent run, for that timespan or any other (down to ago(1s)), worked fine.  big shrug emoji

[2020-10-08 06:28] zivcaspi commented on #39
Can you please provide a request ID for such a failure? Thx

[2020-10-08 16:32] element-of-surprise commented on #39
This is a problem outside the SDK.  Support suggested that he prepend: set query_take_max_records=1000;
That apparently took care of the issue.

If your interested Ziv, there is an ICM issue for this: https://portal.microsofticm.com/imp/v3/incidents/details/208378690/home

I'm going to close this issue as this doesn't look relevant to the Go SDK.  If there is some tweak needed Ziv, let me know.

[2020-10-08 16:32] #39 closed

[2020-10-11 12:36] jrauschenbusch commented on #33
@element-of-surprise Will there ever be a way to use query parameter for Mgmt calls? If yes, is there already an ETA?

[2020-10-11 17:10] element-of-surprise commented on #33
@jrauschenbusch
Ever is a long time, so I can't answer that for the long term. The backend doesn't support them at this time and I am not aware of any plans to support Mgmt calls in the V2 backends (however I am not on Kusto dev).

I'm not sure of the exact procedure for getting new features, but Kusto does have a forum for requesting things and getting them upvoted:
https://feedback.azure.com/for

[2021-02-16 10:09] 1lann opened #42 "Panic while type asserting FieldRows to map[string]interface{} in rawToOneAPIErr"
I got the following panic while trying to query data. Let me know on Teams or email if you need more specific details (my alias is jasch). It doesn't seem to always happen as I'm unable to reproduce it consistently. The `kusto.ResultsProgressiveDisable()` is being used on the query that causes the panic.

[code]

[2021-02-16 18:28] element-of-surprise commented on #42
This is a "my bad". Here is what's going on:

Your stream is receiving one of two things:
- Data that doesn't conform to the expected JSON message
-  An error that was supposed to be an old oneAPI error

**This is why you aren't tripping on it all the time, your error is transient.**

The code attempts to convert what it thinks is an error to OneAPI error type.  These types of errors are a recursi

[2021-03-09 18:30] element-of-surprise opened #43 "Documentation errors"
In result.go
[code]
"IngestionStatus" is incorrect.  Should be "ReportResultToTable"

In kusto_examples_test.go

[code]
This won't work, because we are setting an authorizer without a config.  If you do this, you have to set the resource.

This should be:

[code]

[2021-03-09 18:34] element-of-surprise opened #44 "If Authorizer does not have "resource" set, should just error."
We recommend using the Config instead of Authorizer because of the whole resource not getting set.

I *think* there was a reason for us to not set it in the Authorizer (maybe it was so we had an escape hatch for some weird corner case??).

But we should try to check to see if it has a resource set.  Baring that, we should add output to the error so it says:
"DID YOU SET THE RESOURCE IN YOUR AUTHOR

[2021-03-16 09:14] vladikbr commented on #12
Are you going to make other enhancements here or should we just close this?

[2021-03-16 17:52] element-of-surprise commented on #12
I'm considering a new errors package in the future.  The OneError thing is like a moving target and the backend sometimes sends them and sometimes doesn't.  I'm thinking of doing something simpler like I implemented in MSAL.

I think its fine to close this and I can open up another one that has something more well thought out than my one line comment above.

[2021-04-01 02:39] frcai opened #46 "http or https proxy support"
Looks like azure-kusto-go doesn't respect environment HTTP_PROXY (or HTTPS_PROXY) when ingest data to Kusto. We have some customers need uploading data to Kusto but client doesn't have direct access to internet and all outgoing traffic needs go through outbound proxy.

[2021-04-05 16:04] yogilad commented on #46
Hi,

I'm not familiar with this environment and I don't see a reference to it in our Gold Standard SDK (C#).
This could be something the underlying http client libraries do on their own and Go does not, or it may not be supported there either.

You may be able to workaround the issue by setting a `netsh portproxy` rule.

[2021-04-05 16:55] element-of-surprise commented on #46
It doesn't.  This is because we use our own http.Client instead of the default client.

The best way to support this is to allow customers to pass there own client.   We'd simply provide an option that pass a type that satisfies this interface:

[code]
They could pass whatever they want (different HTTP client implementations, the default one, whatever)...

[2021-04-06 02:38] frcai commented on #46
Thanks Yochai and John. It'll be great to support the option John proposed. Do we have rough timeline to support this feature request?

[2021-04-06 12:17] frcai commented on #46
Looking code today and found default http client was used, the issue is that wrong value  (with line break) configured on HTTP_PORXY (I'm using secrectRef in K8S cluster).  After removing the line break, data can be uploaded successfully through proxy.

// NewPipeline creates a new goroutine-safe Pipeline object from the slice of Factory objects and the specified options.
func NewPipeline(factorie

[2021-04-06 12:17] #46 closed

[2021-05-14 00:55] princjef opened #51 "Vulnerability in github.com/satori/go.uuid"
One of the dependencies in this package (github.com/satori/go.uuid) has a vulnerability that dates back quite a while with no published version that has a fix. The repository for that package appears to be abandoned. Here's the CVE: https://snyk.io/vuln/SNYK-GOLANG-GITHUBCOMSATORIGOUUID-72488

Is it possible to upgrade to a different package? I see that there is also a dependency on github.com/goo

[2021-05-17 16:10] element-of-surprise commented on #51
I had a brief look at this today and I don't believe we suffer from the vulnerability. The vulerability seems based around not having enough random bytes when generating a UUID allowing an ID to be guessed.  We don't generate UUIDs with satori's package.

This is used in the ingestion code if satori's package is in use to read an existing UUID that we did not generate and convert it to Google's UU

[2021-05-18 05:53] yogilad commented on #51
Hi,

Satori UUID is a dependency of Azure Storage Tables in Go SDK.
We only use it to convert read UIDs  from Satori to Google UIDs.
We do not generate UIDs with it as the table values are fed from google UID GUIDs.

[code]

[2021-05-18 15:50] element-of-surprise commented on #51
It looks like storage's newer SDK uses the gofrs uuid package (shakes head).  We could just up our dependency on them and switch out to the new one to eliminate this package.  It just helps ensure we never use it in the future by accident.

Another option is the author works for SRE, currently on leave.  We could see if he is willing to apply the fix, which is pretty trivial.

[2021-07-06 09:16] talsheldon opened #53 "Export SourceMessageCreationTime option (using FromFile)"
I want to set `SourceMessageCreationTime` option in my ingestion process that using (in this case) `FromFile`.

Seems like this option exists, but not exported (correct me if I'm wrong).

Why?
I want to override creationTime, the data shard's creation to make sure retention and caching policies are applied (to what I specify in the creationTime).

Using `go1.16` and `github.com/Azure/azure-kusto-g

[2021-07-06 14:58] element-of-surprise commented on #53
Talsheldon...

I'll see if anyone happens to remember, but the likely culprits are:
- We just missed adding the exposure option
- We skipped exposing it to avoid the clutter of unused options and no one asked for them

Kusto has a lot of options that I didn't expose in the Go packages.  With very few exceptions, no one asks for them.  They end up being clutter that isn't needed.  And there are som

[2021-07-07 12:30] yogilad commented on #53
The source message creation time does not affect the retention policy.
It is used to monitor the ingestion pipeline progress.

[Kusto retention policy controls how data is removed - Azure Data Explorer | Microsoft Docs](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/retentionpolicy#the-policy-object)

SoftDeletePeriod:
•	Time span for which it's guaranteed that the data is k

[2021-07-08 08:01] yogilad commented on #53
Created a PR to set creationTime ingestion property (different from SourceMessageCreationTime).
This should allow use to set the date & time the retention policy is considered against

[2021-07-13 08:05] #53 closed

[2021-08-24 14:18] talsheldon opened #55 "Mgmt queries to struct"
I want to convert management query results to struct.

simplified example:
[code]

code:

[code]

By running the KQL:

[code]

Let's say I have 3 tables, so I get 3 lines of "some command".

Code output:

[code]

It seems like it tries to convert all received rows including the metadata, statistics etc and tries to convert them to the desired struct, which fails.

[2021-09-23 09:27] 0xThiebaut commented on #44
Documenting this requirement on the `kusto.New` method will also spare developers debugging time 😉

[2021-11-02 08:54] #55 closed

[2021-12-10 21:06] daweim0 opened #61 "Is Private Link supported?"
Title says it all. Looking through the library source code it looks like private link should work, but I'm wondering if it has ever been tested.

[2021-12-14 23:42] daweim0 commented on #61
Tested it, the answer is yes

[2021-12-14 23:42] #61 closed

[2022-01-16 18:47] spacentropy commented on #43
Omg, I just spend three hours trying to understand what's wrong with this authorizer.

[2022-01-17 07:56] #43 closed

[2022-01-23 07:39] #51 closed

[2022-02-09 03:44] w1ndy opened #72 "`row.Columns` populates column names instead of values"
Documentation says:

but actually the column names are decoded into the arguments.

https://github.com/Azure/azure-kusto-go/blob/b89f1684a83556dc7c03c161afacad5b29f6a167/kusto/data/table/table.go#L77-L104

[2022-02-09 04:07] w1ndy commented on #72
I looked into the test and found that `Columns` seems to retrieve column names by design... I wonder why this method is needed since there already exists similar ones like `ColumnNames` and `ColumnTypes`. Maybe we can change its behavior to retrieve values or replace it with a new method called `Values`?

[2022-02-09 05:34] element-of-surprise commented on #72
This is a leave over from my early design work that has somehow managed to stay in here.  Kudos for finding it.

When I was doing the first drafts I was looking at both database/sql,  spanner's and a few other APIs.

I blame too many late nights for this, but this is really a completely wrong implementation.  The kind of thing I should have said, what the hell are you doing.......

What this shoul

[2022-02-09 05:58] w1ndy commented on #72
@element-of-surprise @yogilad Thanks for your effort! I think this issue may be addressed as follows:

1. Decouple the logic of `boolConvert`, `dateTimeConvert`, etc from `row.ToStruct` so they can be reused for any given `reflect.Type` and `reflect.Value`, instead of being tied to struct fields;
2. Add a new method (could be called `ExtractValues` or whatever) to read values from a row easily.

H

[2022-02-09 11:46] w1ndy opened #73 "`TableFragmentType == DataReplace` is not correctly handled"
Queries may return table fragments of type `DataReplace` as per [docs](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/rest/response2#tablefragment), which are not correctly handled. The result set may contain duplicated entries.

[2022-02-10 07:22] w1ndy opened #76 "Errors occurred while resolving remote entities"
It looks like the progressive query option, which is on by default, can't be used in cross-cluster queries. These queries will fail with a bad request error, saying:

Putting this in docs may save hours of debugging...

[2022-02-15 13:25] w1ndy commented on #73
Close now since this issue is addressed by 9a620e9

[2022-02-15 13:25] #73 closed

[2022-02-23 06:17] w1ndy commented on #72
Fixed by #75

[2022-02-23 06:17] #72 closed

[2022-02-24 13:09] yogilad commented on #76
@w1ndy , can you share an example query?

[2022-03-01 02:26] w1ndy commented on #76
I can't seem to replicate this bug with simple queries, might be related to other things since I was doing a rather complex query... Anyway I'll close this issue for now, and I'll get back to you if I managed to reproduce the issue. Thanks!

[2022-03-01 07:42] AsafMah commented on #76
I did manage to replicate it.
Currently it seems like a bug in the engine, I've forwarded it to the team and will keep you updated.
I will keep this close since it's not related to the sdk.

As a workaround, it seems that running the query non-progressively sometimes causes the progressive query to work after, I assume due to caching.

[2022-03-01 07:42] #76 closed

[2022-03-16 11:33] w1ndy opened #81 "Library panics at certain query failures"
Looks like ``v2.rawToOneAPIErr`` expects that errors are of type ``map[string]interface {}`` but actually an array of interfaces is returned...

[code]

The query response is as follows
[code]

[2022-03-27 07:34] AsafMah commented on #44
Sadly by the point kusto.New gets the object, it's already too late -
auth.NewAuthorizerFromCLIWithResource and auth.NewAuthorizerFromCLI both return a BearerAuthorizer whose token has the "Resource" property as null.

The only way to check is to decode the JWT, which I think is out of scope for our library.

@yogilad Suggests we'll make our own abstraction layer for tokens like in the other SDKs,

[2022-03-27 07:34] #44 closed

[2022-04-01 00:15] sasathy1 opened #84 "Weird error from ADX - contains non-utf8 chars"
We are getting a weird error from the SDK:

Op(OpIngestStream): Kind(KHTTPError): streaming ingest issue(404 NotFound):\n\u001f�\b\u0000\u0000\u0000\u0000\u0000\u0004\u0000UO�j�0\f�\u000f�\u000f�纤K�,�e0h\u0019�\u001d�/�-�\u0018Z{���Q��s��\u0016���\u001e��t��S�4�}����L����T ��d���z��<Rΰ\u001f�O�\t�!�Ui�\u0012RT\u0014�+�(*d�!�;\u0010.g\u0002/>E���M'�C�(;�\u001e��\u001b�2�o_�t&?\b=��\u001dvT\u0019v\u

[2022-04-01 18:25] invidian commented on #84
I also hit this issue at some point, but I don't have a reproducing code yet. The response you mentioned @sasathy1 starts with `u001f` and in my case the response body containing an error message was gzip-encoded and gzip magic number is `1f 8b`. And from what I've debugged, right now error handling code will just throw the response body directly to error, without attempting to decode it.

[2022-04-04 07:41] liranms opened #85 "Enable access to "non-primary" tables in the response, mainly for cursor feature"
Provide ability to access the response that contains other table such as `@ExtendedProperties`, and `QueryResourceConsumption`
this is very important for using the kusto [database cursor feature ](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/databasecursor) which emits the Cursor property on the `@ExtendedProperties` table
Another interesting aspect is getting the performa

[2022-04-04 10:48] liranms opened #86 "Bug handling decimal values"
Decimal values can be just big integers (rather than floating points, i.e without the .) when they are returned by the REST api, and the dceRE expects something with dot
```var decRE = regexp.MustCompile(`^\d*\.\d+$`)```
which fails parsing valid kusto responses

In addition it might be a good idea to support *big.Int as well as *big.Float in that case

[2022-04-04 17:05] yogilad commented on #84
@AsafMah , can you have a look?

[2022-04-04 19:02] AsafMah commented on #84
Haven't managed to reproduce, tried specifically with "Streaming is disabled" and other errors.

Can you specify:
1. What version are you using
2. What api are you using and how?
3. Any other details that may be relevant for your code?

[2022-04-05 08:16] yogilad commented on #84
Additionally, if recreation is possible, could you record the response via Fiddler, Postman or a similar application and send us the response HTTP body and headers?

[2022-04-11 17:59] liranms commented on #85
@AsafMah is there a plan to expose this?

[2022-04-12 05:25] AsafMah commented on #85
#90 does it, it would soon be completed and will be released in the next version.

[2022-04-12 08:23] #85 closed

[2022-04-12 08:23] AsafMah commented on #84
Solved in 0.6.0, feel free to re-open if you have issues.

[2022-04-24 05:47] AsafMah commented on #42
Solved in 0.6.0, feel free to re-open if you have issues.

[2022-04-24 05:47] #42 closed

[2022-04-28 17:16] pfrcks opened #99 "Vulnerability in github.com/Azure/go-autorest/autorest"
One of the dependencies has a vulnerability CVE-2022-27191. Can this be updated to get the patched version?
The vulnerability is specifically in the module autorest/azure/auth

[2022-05-13 17:57] princjef opened #100 "Migration to MSAL"
Is there a plan for this package to be migrated from ADAL to MSAL? The autorest auth packages used for authentication here are ADAL-based and there is no plan for those to upgrade to MSAL (ref: https://github.com/Azure/go-autorest/issues/636). The official guidance is to switch over to using github.com/Azure/azure-sdk-for-go/tree/main/sdk/azidentity which is MSAL-based.

[2022-05-13 21:38] element-of-surprise commented on #100
Note on this:

There will not need to be a migration for this.  Kusto's SDK was designed to allow new types of authorization to happen.  ADAL should continue to be supported until such time as ADAL will not work in order to support existing clients.  But also I'm not sure if azidentity currently supports everything that ADAL does.  I wrote the initial Go MSAL implementation and azidentity still ha

[2022-05-17 08:14] yogilad commented on #100
Since AzIdentity has matured and is using MSAL, we'll try and schedule this in the near future.

[2022-05-17 09:26] AsafMah commented on #99
Hey, I don't see any dependency from our project to golang.org/x/crypto/ssh, only to golang.org/x/crypto.
azure/auth didn't put out a newer version than what we have (it seems), and I couldn't find a reference to the CVE in their repo.
Could you maybe direct me further? Thanks

[2022-06-07 05:07] PenguinCats opened #101 "help wanted: Can I access the kusto cluster data with a user account rather than a authorized client(app) by Go SDK"
This is an ask for help, Thanks.

The Go SDK autorest.Authorizer is commonly initialized with ClientID, TenantID, which means I need to create an app and authorize it to access kusto cluster.  Besides, I guess Kusto itself is an application(Client) ?
However, I hope to access the kusto cluster directly with an authorized user account.  I have check https://docs.microsoft.com/zh-cn/azure/data-explo

[2022-06-21 08:55] yogilad commented on #101
Hi,

We currently support any auth method provided by https://github.com/Azure/go-autorest/blob/main/autorest/azure/auth/auth.go

There's device code auth and user/password auth you can attempt to use (the latter is less recommended).

[2022-06-28 07:52] #101 closed

[2022-07-03 09:35] AsafMah opened #103 "Azure libraries version 1.x"
Azure core & azure identity (and maybe more) recently went to 1.x, while we are still at 0.x.
https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/go.mod
https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azidentity/go.mod

A user had an issue with using these new packages in conjunction with our code.

Moving to the new packages is actually a breaking change - since they require a

[2022-07-03 15:14] element-of-surprise commented on #103
Hey Asaf, just a note on this:

The 1.x versus 0.x is just semantics.  azidentity relies on msal which is still at 0.x.  Moving to 1.x simply means that breaking changes require major version increases and change how you release code.  For some reason it makes people feel better to see a 1.x, but it can also lead to seeing projects do 1.x, 2.x, 3.x, 4.x.....  The decision to move is simply an inte

[2022-07-04 07:03] AsafMah commented on #103
@element-of-surprise
Thanks for the comment John.
I wanted to ask you about this scenario specifically, if a go module depends on this package, and unrelatedly on the azure 1.x package, would it really break our package?
Can't go handle our dependency and the module's dependency separately?

[2022-08-23 10:03] ronib1 opened #107 "queryopts.go - most functions are commented and can't be used"
Hi,

I need to add queryOptions to my query. The problem is that nothing is exported and I see that I could use the functions in the file queryopts.go, only that for some reason most if it is commented. For example the function CustomQueryOption. Can you please make it useable?

![image](https://user-images.githubusercontent.com/104069171/186131074-5604871a-5f3c-4e4b-b7e6-2b3286976c88.png)

[2022-08-26 20:30] element-of-surprise opened #108 "Error unwrapping is not occurring correctly on queries that end due to a return limit"
By default Kusto queries are limited to some number of return values (I don't remember what the value is).

So if you use the SDK to make a query and you reach that threshold, you will receive:

[code]

This means the error message being returned by Kusto cannot be converted from its JSON representation to whatever error format we have.

This is probably related to:
https://github.com/Azure/azure-

[2022-09-06 07:53] yihezkel commented on #107
Hi @ronib1 ,
Thanks for bringing this up. 0.8.0 supports adding all headers, but `request_app_name` and `request_user` don't currently work because of a server-side issue. We have a workaround that @AsafMah will be adding shortly. Please check back in a few days, and once the new version is released you should be able to set these properties.

We'll close this issue for now, feel free to reopen if

[2022-09-06 07:53] #107 closed

[2022-09-06 08:00] #99 closed

[2022-09-13 06:06] zetiaatgithub opened #113 "Doesn't support Azure sovereign cloud"
When ingesting logs to kusto in usgovvirginia region, I got the following error.
`ingest.New client failed with error: problem reading ingestion resources from Kusto: the StorageRoot URI received(https://***.blob.core.usgovcloudapi.net/2022*******0Z&sp=rw) has an error: URI hostname does not end with '.core.windows.net'`

Could we add interface for adding trusted endpoints? Just like in this doc:

[2022-09-13 11:43] andyliuliming opened #114 "is it ok to upgrade the blob sdk from 0.3.0 to 0.4.0?"

[2022-09-13 11:49] andyliuliming commented on #114
#115

[2022-09-20 11:40] yogilad commented on #113
You are right, this validation is not cloud agnostic.
labeled as bug for fixing

[2022-09-20 21:26] jesseward opened #116 ".show database Samples schema returns err "column of type System.String, which was unknown""
Running the `Mgmt(..)` query `.show database Samples schema` returns the error `DataTable had column of type System.String, which was unknown`.

I am seeing this error on a number of databases I have been developing against and tests against the Samples demonstration database also return this error.

The following code can reproduce.

[code]

Running the above returns
[code]

Note that if you swap

[2022-09-21 00:20] element-of-surprise commented on #116
At a quick glance, I'd guess something is causing this line to occur:
***@***.***/-/blob/kusto/internal/frames/v1/v1.go?L41

Which is in turn skipping the V1 frames type translation from happening on line:
https://sourcegraph.com/github.com/Azure/azure-kusto-go/-/blob/kusto/internal/frames/v1/v1.go?L47

V1 and V2 frames have different names for types and we have an internal type in Go we use to re

[2022-09-26 03:48] 1730735794 opened #118 "cannot use time.Now() as parameters' default value;"
Description
cannot use time.Now() as parameters' default value;
such as

     timeFilter, err := kusto.NewDefinitions().With(
		kusto.ParamTypes{
			"beginTime": kusto.ParamType{Type: types.DateTime, Default: time.Now()},
			"endTime":   kusto.ParamType{Type: types.DateTime, Default: time.Now()},
			"name":      kusto.ParamType{Type: types.String, Default: ""},
			"mess":      kusto.ParamType{Type

[2022-10-02 08:02] 0xThiebaut opened #119 "ingest.IngestionMappingRef should define the default data type"
When ingesting data using the `ingest.IngestionMappingRef` option, the mapping's data type should be used as default data type instead of `CSV`.

As an example, relying on the `ingest.IngestionMappingRef("ExampleMapping", ingest.JSON)` option should change the default data type from `CSV` to `JSON`, resulting in the `ingest.IngestionMappingRef` not relying on another `ingest.FileFormat` option.

I

[2022-10-15 17:19] slwbuild opened #120 ""AllowWrite()" QueryOption required for operations which do not write data"
Management commands such as `.create-or-alter` can inaccurately fail with the error:

"Mgmt() attempted to do a write operation. This requires the AllowWrite() QueryOption to be passed. Please see documentation on that option before use"

If a command such as `.create-or-alter` contains any of the following strings it will fail unless AllowWrite() QueryOption is passed

* `.set`
* `.append`
* `.se

[2022-10-18 11:44] yogilad commented on #120
Discussed and decided to deprecate this option.
We will introduce the request_readonly client (opt in) request property which is the more standard way to achive this capability.

[2022-10-20 07:06] 1730735794 opened #121 "`GetQueryCompletionInformation` get 380 rows, But `NextRowOrError` got EOF"
my code like this
[code]

I got info by `GetQueryCompletionInformation` :
[code]
It's obviously that this request accesses the database , and 380 rows of data were scanned.

But `info.Rows...` is empty and i got an err in  `_, _, err2 := iter.NextRowOrError()`, err2 is `EOF`

![image](https://user-images.githubusercontent.com/57705475/196879261-0088c723-19ce-4283-8e29-981f3657ec6d.png)

![image](h

[2022-10-23 12:33] liranms opened #124 "DoOnRowOrError() returns "json: cannot unmarshal object into Go struct field DataSetCompletion.OneApiErrors of type string""
The function DoOnRowOrError(f) returns an error "json: cannot unmarshal object into Go struct field DataSetCompletion.OneApiErrors of type string"
this happens intermittently, most likely when there is a kusto server side error
My callback (the parameter f) never returns an error there, I don't have the raw response but if I had to guess I would assume that the server does not return a []string (t

[2022-10-24 20:32] seh-msft commented on #103
Conflicting Go versions required in go.mod will be resolved by taking the highest version in the dependency graph, I believe.

Examples with - or support for - azidentity rather than autorest would be desirable as autorest will go EOL in March 2023.

As seen here: https://azure.microsoft.com/updates/support-for-azure-sdk-libraries-that-do-not-conform-to-our-current-azure-sdk-guidelines-will-be-ret

[2022-10-26 14:14] jesseward commented on #121
hey @1730735794, curious if such a query was working for you at one time? I am seeing something similar on my Kusto DB as of a few days ago.

It looks like the problem is with the statemachine parser logic in `azure-kusto-go`, though I am unable to pinpoint the exact failure scenario (yet).

[code]

If you run the above, what you see? That `fn` unmarshals the response into `json` instead of the `k

[2022-10-26 17:32] jesseward opened #125 "Unable to parse responses where "IsProgressive":false though includes progressive tables"
## Summary

Recently (`2022-10-24`) queries to our Kusto cluster have stopped parsings result into the `kusto.RowIterator` object. Sending the same query using the `QueryToJson(..)` function does assert that the appropriate rows are being returned from the API. Which hints that this is a parsing problem within the `azure-kusto-go` library. Tests using these same DB+query using the `azure-kusto-pyt

[2022-10-27 15:48] niontive commented on #125
Bumping this - I encountered the same issue.

[2022-10-29 15:49] 1730735794 commented on #121
Hey,I've figured out what I'm causing this issue. My server returned an error message in the form `IsProgressive`,In fact, this is also the default query method of kusto-sdk, kusto-sdk will mark a field as version2 to tell the server to expect the server to return with the version2 communication protocol, and the version2 communication protocol is 'IsProgressive', but as you can see, the `IsProgre

[2022-10-29 16:24] jesseward commented on #121
thanks for confirming @1730735794. We had similar findings and have an issue that calls out the  `IsProgressive` header being the culprit as well.

Some notes in https://github.com/Azure/azure-kusto-go/issues/125 , I had used the same work around as well `results_progressive_enabled`, though not sure of the implications.

Hope to hear back from the library owners soon.

[2022-11-02 07:54] #116 closed

[2022-11-06 09:17] AsafMah commented on #121
Hey, this was an issue with the service.
It should be fixed now in all clusters, if it is still applicable, please comment.

[2022-11-06 09:17] #121 closed

[2022-11-06 09:17] AsafMah commented on #125
Hey, this was an issue with the service.
It should be fixed now in all clusters, if it is still applicable, please comment.

[2022-11-06 09:17] #125 closed

[2022-11-16 12:48] yogilad commented on #120
Available in the latest version of the SDK

[2022-11-17 13:33] #119 closed

[2022-11-21 06:14] AsafMah commented on #119
Fixed in 0.9.1, if you have further issues please re-open.

[2022-11-21 06:15] AsafMah commented on #124
I couldn't recreate the error, but version 0.9.1 should also print the raw json. Can you upgrade and see what you get?

[2022-11-25 07:12] asaharn opened #138 "API to set client version"
In current version of SDK a way to set client Version (similar to java sdk's [ConnectionStringBuilder.setClientVersionForTracing](https://github.com/Azure/azure-kusto-java/blob/master/data/src/main/java/com/microsoft/azure/kusto/data/auth/ConnectionStringBuilder.java#L163)) is missing
API can be implemented to set the client version so that it can be used for tracing and for connector/application

[2022-11-30 08:13] #118 closed